<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="/js/vue.js"></script>
    <title>Exercice8</title>
    <style>
        body { background-color: rgba(37,127,109, 0.9); }
    </style>
</head>
<body>
    <div id="vueapp" class="container text-center mt-3">
        
        <p>Alouette, gentille alouette, allouette, je te plumerai. Je te plumerai<span v-for="partie in parties">{{ partie }}</span>,...</p>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Texte</span>
            </div>
            <input type="text" class="form-control" placeholder="Votre message" v-model="message">
        </div>
        
        <button class="btn btn-primary mt-3" @click="ajouter">Ajouter</button>

    </div>
    
    <script>
        let maVueModele = new Vue({
            el: "#vueapp",
            data: {
                parties: [],
                message: ""
            },
            methods: {
                ajouter: function() {
                    this.parties.push(" " + this.message);
                }
            }
        });
    </script>
</body>
</html>